<%- include('./partials/new_header.ejs'); %>
    <div class="container">
        <h1>Write Your Blog</h1>

        <form action="/blog" method="POST">
            <div class="mb-3">
                <label for="title">Title</label>
                <input type="text" value="<%= blog.title  %> " name="title" class="form-control form-control-lg" id="title" required />
            </div>
            <div class="mb-3">
                <label for="description">Description</label>
                <textarea name="description" class="form-control form-control-lg" id="description" rows="5" required> <%= blog.description  %>  </textarea>
            </div>
            <button type="submit" class="btn btn-danger">Save</button>
            <a href="/" class="btn btn-dark">Cancel</a>
        </form>
    </div>
    </body>

    </html>