<%- include('./partials/show_header.ejs'); %>

    <div class="container">
        <h1 class="heading">Your Blog</h1>
        <div class="card my-4" style="background-color: crimson">
            <div class="card-body">
                <h3 class="card-title">
                    <%= blog.title  %>
                </h3>
                <div class="card-text">
                    <%= blog.description %>
                </div>
            </div>
        </div>
        <a href="/" class="btn btn-secondary"> All Blogs </a>

        </body>

        </html>